*{
    margin: 2px;
    padding: 2px;
}

table, td, th {
    border: 1px solid black;

}
.container {
    justify-content: center;
    display: flex;
    gap: 20 px;
}
.card {
    padding: 30px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 13px;
}

table {
    text-align: center;
    display: inline-block;
    font-size: 2.4rem;
    background:  blanchedalmond;
    border-collapse: separate;
}
thead{
    justify-content: center;
}


tbody th :nth-child(even){
    background-color:blanchedalmond;

}


table tr:nth-child(2n + 2){
    background-color:blanchedalmond;

}
h1{
    text-decoration: underline;
    text-align: center;
    background-color: blanchedalmond;
    color: brown;
    font-size: 70px;
    
    letter-spacing: 2px;
}

h2{
    color: rgb(143, 26, 26);
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: aqua;
    background-image:url("docs/plano_fundo.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;


}

